<div class="container">
    <div *ngIf="!isCheckoutSuccess" fxLayout="row" fxLayoutAlign="space-evenly">
        <div>
            <div *ngFor="let product of products">
                <app-cart-item [product]="product" (removeEvent)="onRemove($event)"></app-cart-item>
            </div>
            <div *ngIf="products.length == 0">
                <h4><i> No items in cart!</i></h4>
            </div>
            <div>
                <h2>Total: ${{totalPrice}}</h2>
            </div>
            <!-- <button 
                mat-raised-button color="primary" 
                (click)="checkOut()" 
                [disabled]="products.length == 0"
                >
                Check Out
            </button> -->
        </div>
        <div>
            <app-customer-info-form #customerInfoForm (submitInfo)="checkOut($event)" [submitDisabled]="products.length == 0"></app-customer-info-form>
        </div>
    </div>
    <!-- <app-user *ngIf="isNeedAuth" [(isNeedAuth)]="isNeedAuth"></app-user> -->
    <app-check-out-confirmation 
        *ngIf="isCheckoutSuccess" 
        [customerInfo]="customerInfo">
    </app-check-out-confirmation>
</div>