.container {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.required:after {
    content:" *";
    color: red;
}

.error-message {
    color: red;
    margin-top: 10px;
}
